<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <p>Test application to learn about Ember</p>
    </div>
    <div class="col-md-4">
      {{filter-listing filteredList=filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}
    </div>
  </div>
</div>
{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
