<div class="jumbotron">
  <p>Test application to learn about Ember</p>
  {{filter-listing filteredList=filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}
</div>
{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
